/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.logo {
  margin-right: auto;
}

section {
  padding: 50px;
}

h1, h2 {
  color: #333;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: 400px;
  margin-top: 20px;
}

label, input, textarea, button {
  width: 100%;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Resto de tus estilos CSS existentes */

.contact-info, .sitemap {
  flex-basis: 50%;
  text-align: left;
}

.contact-info h3, .sitemap h3 {
  color: #fff;
  margin-bottom: 10px;
}

/* Estilos del logo */
.logo img {
  max-width: 150px;
  height: auto;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.footer-content li {
  list-style: none;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.footer-info h3,
.footer-sitemap h3 {
  color: #fff;
}

.footer-info p,
.footer-sitemap ul {
  margin: 0;
}

.footer-logo {
  text-align: right;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

