.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: rgb(225, 0, 255);
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: black;
    text-align:justify;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    color: red;
  }

  @media (max-width: 600px) {
    .column {
      flex: 100%;
      color: rgb(255, 255, 255);
    }
  }

  